<li class="mk-header-wpml-ls">
  <a class="header-wpml-icon" href="#">
  <i class="mk-icon-globe"></i>
  </a>


  <ul class="language-selector-box">
      <li class='language_pt-br'>
        <a href='/pt/' title="{{langPath.nav.multilang.title1 | default: defaultLangPath.nav.multilang.title1}}">			
            <span class='mk-lang-name'>{{langPath.nav.multilang.portuguese | default: defaultLangPath.nav.multilang.portuguese}}</span>		
        </a>
      </li>
      <li class='language_en'>
        <a href='/' title="{{langPath.nav.multilang.title2 | default: defaultLangPath.nav.multilang.title2}}">			
            <span class='mk-lang-name'>{{langPath.nav.multilang.english | default: defaultLangPath.nav.multilang.english}}</span>		
        </a>
      </li>
  </ul>
</li>