<section  class="page-section-3  expandable-false fullwidth-false section-expandable-false full-height-false  mk-video-holder mk-page-section parallax-false" data-direction="vertical" id="about">
    
  <div class="bg-layer clip">
      <div  class="mk-video-color-mask"></div>
  </div>
  <div class="mk-half-layout half_right_layout" style="background-image:url(/assets/img/home_community5-min.jpg);"></div>
  <div class="mk-half-layout-container page-section-content expandable-false half_right_layout">
      <div style="" class="vc_col-sm-12  column_container ">
        <div class="vc_empty_space"   style="height: 100px" ><span class="vc_empty_space_inner"></span></div>
        <div class="vc_row wpb_row vc_inner vc_row-fluid">
            <div class=" vc_column_container vc_col-sm-12">
              <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                    <h1 style="font-size: 20px;color: #4bdcbc;line-height: 5px;text-align: left;font-family:Quicksand;font-weight:700;font-style:normal" class="vc_custom_heading" >| {{langPath.about.title | default: defaultLangPath.about.title}}</h1>
                    <div style="font-size: 18px;color: #393836;font-weight:inherit;margin-top:0px;margin-bottom:5px;" id="fancy-title-4" class="mk-fancy-text title-box-left   "><span style="background-color:rgba(0,0,0,0); box-shadow: 8px 0 0 rgba(0,0,0,0), -8px 0 0 rgba(0,0,0,0);line-height:34px"><span style="font-weight: 400;">{{langPath.about.paragraph | default: defaultLangPath.about.paragraph}}</span></span></div>
                    <div class="clearboth"></div>
                    <div class="vc_empty_space"   style="height: 20px" ><span class="vc_empty_space_inner"></span></div>
                    <div style="font-size: 18px;color: #393836;font-weight:inherit;margin-top:0px;margin-bottom:5px;" id="fancy-title-5" class="mk-fancy-text title-box-left   "><span style="background-color:rgba(0,0,0,0); box-shadow: 8px 0 0 rgba(0,0,0,0), -8px 0 0 rgba(0,0,0,0);line-height:34px"><span style="font-weight: 400;">{{langPath.about.paragraph1 | default: defaultLangPath.about.paragraph1}}
                        </span></span></div>
                    <div class="clearboth"></div>
                  </div>
              </div>
            </div>
        </div>
        <div class="vc_empty_space"   style="height: 50px" ><span class="vc_empty_space_inner"></span></div>
        <div class="vc_row wpb_row vc_inner vc_row-fluid">
            <div class=" vc_column_container vc_col-sm-12">
              <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                    <h1 style="font-size: 20px;color: #4bdcbc;line-height: 5px;text-align: left;font-family:Quicksand;font-weight:700;font-style:normal" class="vc_custom_heading" >| {{langPath.about.title1 | default: defaultLangPath.about.title1}}</h1>
                    <div style="font-size: 18px;color: #393836;font-weight:inherit;margin-top:0px;margin-bottom:5px;" id="fancy-title-6" class="mk-fancy-text title-box-left   "><span style="background-color:rgba(0,0,0,0); box-shadow: 8px 0 0 rgba(0,0,0,0), -8px 0 0 rgba(0,0,0,0);line-height:34px"><span style="font-weight: 400;">{{langPath.about.paragraph2 | default: defaultLangPath.about.paragraph2}}</span></span></div>
                    <div class="clearboth"></div>
                  </div>
              </div>
            </div>
        </div>
        <div class="vc_empty_space"   style="height: 100px" ><span class="vc_empty_space_inner"></span></div>
      </div>
  </div>
  <div class="clearboth"></div>
</section>