{% include shared/header.html %}

<section id="banner" class="banner">    
    <div class="bg-layer clip">
        <div  class="mk-video-color-mask"></div>
           <div class="scroll-layer " style="background-size: cover;background-image: url(/assets/img/background.jpg); position: absolute; height: 836px; transform: translateY(0.6px) translateZ(0px);" data-center="background-position: 50% 0px;" data-bottom-top="background-position: 50% 200px;" data-top-bottom="background-position: 50% -200px;" css-attach="scroll" data-attach="scroll"></div>     
        </div>
      
     <div class="mk-page-section-loader edge-slider-loading">
        <div class="mk-preloader">
           <div class="mk-loader"></div>
        </div>
     </div>
     <div class="page-section-fullwidth vc_row-fluid page-section-content expandable-false">
        <div class="mk-padding-wrapper">
           <div style="" class="vc_col-sm-12  column_container ">
              <div class="vc_empty_space"   style="height: 150px" ><span class="vc_empty_space_inner"></span></div>
              <h1 style="font-size: 25px;color: #ffffff;line-height: 25px;text-align: center;font-family:Quicksand;font-weight:400;font-style:normal" class="vc_custom_heading" >{{langPath.banner.tagline | default: defaultLangPath.banner.tagline}}</h1>
              <h1 style="font-size: 50px;color: #ffffff;text-align: center;font-family:Quicksand;font-weight:400;font-style:normal" class="vc_custom_heading uppercase" >{{langPath.banner.subtitle | default: defaultLangPath.banner.subtitlee}}</h1>
              <div class="vc_empty_space"   style="height: 30px" ><span class="vc_empty_space_inner"></span></div>
              <style type="text/css">.vc_btn3-style-gradient-custom.vc_btn-gradient-btn-5a6ba3354d320:hover{color: #ffffff;background-color: #037c61;border: none;background-position: 100% 0;}</style>
              <style type="text/css">.vc_btn3-style-gradient-custom.vc_btn-gradient-btn-5a6ba3354d320{color: #ffffff;border: none;background-color: #50e3c2;background-image: -webkit-linear-gradient(left, #50e3c2 0%, #037c61 50%,#50e3c2 100%);background-image: linear-gradient(to right, #50e3c2 0%, #037c61 50%,#50e3c2 100%);-webkit-transition: all .2s ease-in-out;transition: all .2s ease-in-out;background-size: 200% 100%;}</style>
              <div class="vc_btn3-container vc_btn3-center" >
                 <button data-vc-gradient-1="#50e3c2" onclick="window.location='https://github.com/bolt-currency/BOLT/releases/download/0.9.1/bolt-wallet-win-64.zip'" data-vc-gradient-2="#037c61" class="vc_general vc_btn3 vc_btn3-size-lg vc_btn3-shape-rounded vc_btn3-style-gradient-custom vc_btn3-icon-left vc_btn-gradient-btn-5a6ba3354d320"><i class="vc_btn3-icon vc-material vc-material-account_balance_wallet"></i> {{langPath.banner.button1 | default: defaultLangPath.banner.button1}}</button>
              </div>
              <div class="vc_btn3-container vc_btn3-center" >
                 <a class="vc_general vc_btn3 vc_btn3-size-xs vc_btn3-shape-rounded vc_btn3-style-outline vc_btn3-icon-right vc_btn3-color-grey menu-item-link" href="#download" title="">{{langPath.banner.button2 | default: defaultLangPath.banner.button2}} <i class="vc_btn3-icon fa fa-share"></i></a>
              </div>
           </div>
        </div>
        <div class="clearboth"></div>
     </div>
     <div class="clearboth"></div>
     <div data-istop="[] - [mk-shape-divider--stick-bottom]" id="mk-shape-divider-2" class="mk-shape-divider mk-shape-divider--stick folded-bottom-style big-size  mk-shape-divider--stick-bottom ">
        <div class="shape__container">
           <div class="shape">
              <svg width="100%" height="130px">
                 <defs>
                    <pattern id="shapeDividerPattern-2" preserveAspectRatio="none" style="background-repeat: none;" patternUnits="userSpaceOnUse" x="0" y="0" width="100%" height="1300px" viewBox="0 0 100 1300" >
                       <polygon fill="#ffffff" points="0,0 0,130 50,130 "/>
                       <polygon fill="#ffffff" points="100,0 100,130 50,130 "/>
                    </pattern>
                 </defs>
                 <!-- Background -->
                 <rect x="0" y="0" width="100%" height="130px" fill="url(#shapeDividerPattern-2)" />
              </svg>
           </div>
        </div>
     </div>
    </div>
    <div class="mk-main-wrapper-holder">
     <div class="theme-page-wrapper full-layout mk-grid vc_row-fluid no-padding">
        <div class="theme-content no-padding">
           <div class="clearboth"></div>
        </div>
     </div>
    </div>
</section>