<section id="faq"   data-intro-effect="false" class="page-section-20  expandable-false fullwidth-false section-expandable-false full-height-false  mk-video-holder mk-page-section parallax-false  " data-direction="vertical">
    <div class="bg-layer clip">
       <div  class="mk-video-color-mask"></div>
       <div class="scroll-layer " style=""  css-attach="scroll" data-attach="scroll"></div>
    </div>
    <div class="mk-grid vc_row-fluid page-section-content expandable-false">
       <div class="mk-padding-wrapper">
          <div style="" class="vc_col-sm-12  column_container ">
             <div class="vc_empty_space"   style="height: 100px" ><span class="vc_empty_space_inner"></span></div>
             <h2 style="font-size: 40px;color: #4bdcbc;line-height: 5px;text-align: center;font-family:Quicksand;font-weight:700;font-style:normal" class="vc_custom_heading" >{{langPath.faq.title | default: defaultLangPath.faq.title}}</h2>
             <div style="font-size: 18px;color: #393836;font-weight:inherit;margin-top:0px;margin-bottom:0px;" id="fancy-title-21" class="mk-fancy-text title-box-center   "><span style="background-color:rgba(0,0,0,0); box-shadow: 8px 0 0 rgba(0,0,0,0), -8px 0 0 rgba(0,0,0,0);line-height:34px">{{langPath.faq.subtitle | default: defaultLangPath.faq.subtitle}}</span></div>
             <div class="clearboth"></div>
             <div class="vc_empty_space"   style="height: 20px" ><span class="vc_empty_space_inner"></span></div>
             <div class="vc_tta-container" data-vc-action="collapse">
                <div class="vc_general vc_tta vc_tta-accordion vc_tta-color-grey vc_tta-style-classic vc_tta-shape-rounded vc_tta-o-shape-group vc_tta-controls-align-left">
                   <div class="vc_tta-panels-container">
                      <div class="vc_tta-panels">
                         <div class="vc_tta-panel vc_active" id="1516056630841-ed82bb9c-3a7f" data-vc-content=".vc_tta-panel-body">
                            <div class="vc_tta-panel-heading">
                               <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left"><a href="#1516056630841-ed82bb9c-3a7f" data-vc-accordion data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">{{langPath.faq.item.title | default: defaultLangPath.faq.item.title}}</span><i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a></h4>
                            </div>
                            <div class="vc_tta-panel-body">
                               <div class="mk-text-block responsive-align-center  ">
                                  <p>{{langPath.faq.item.value | default: defaultLangPath.faq.item.value}}</p>
                                  <div class="clearboth"></div>
                               </div>
                            </div>
                         </div>
                         <div class="vc_tta-panel" id="1516056699516-e5edb7f1-9671" data-vc-content=".vc_tta-panel-body">
                            <div class="vc_tta-panel-heading">
                               <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left"><a href="#1516056699516-e5edb7f1-9671" data-vc-accordion data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">
                                  {{langPath.faq.item1.title | default: defaultLangPath.faq.item1.title}}
                               </span><i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a></h4>
                            </div>
                            <div class="vc_tta-panel-body">
                               <div class="mk-text-block responsive-align-center  ">
                                  <p>{{langPath.faq.item1.paragraph | default: defaultLangPath.faq.item1.paragraph}}</p>
                                  <p>{{langPath.faq.item1.paragraph1 | default: defaultLangPath.faq.item1.paragraph1}}</p>
                                  <p>{{langPath.faq.item1.paragraph2 | default: defaultLangPath.faq.item1.paragraph2}}</p>
                                  <p>{{langPath.faq.item1.paragraph3 | default: defaultLangPath.faq.item1.paragraph3}}</p>
                                  <div class="clearboth"></div>
                               </div>
                            </div>
                         </div>
                         <div class="vc_tta-panel" id="1516056710535-741d23d9-1cd2" data-vc-content=".vc_tta-panel-body">
                            <div class="vc_tta-panel-heading">
                               <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left"><a href="#1516056710535-741d23d9-1cd2" data-vc-accordion data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">{{langPath.faq.item2.title | default: defaultLangPath.faq.item2.title}}</span><i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a></h4>
                            </div>
                            <div class="vc_tta-panel-body">
                               <div class="mk-text-block responsive-align-center  ">
                                  <div class="block transitionmodest w-clearfix active" data-min-height="64">
                                     <div class="child transitionmodest w-clearfix active" data-min-height="64">
                                        <div class="content transitionmodest w-clearfix">
                                           <div class="info w-clearfix">
                                              <div class="text">
                                                 <p>{{langPath.faq.item2.paragraph | default: defaultLangPath.faq.item2.paragraph}}<br />
                                                  {{langPath.faq.item2.paragraph1 | default: defaultLangPath.faq.item2.paragraph1}}
                                                 </p>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="clearboth"></div>
                               </div>
                            </div>
                         </div>
                         <div class="vc_tta-panel" id="1516733352296-84e317dd-f0e4" data-vc-content=".vc_tta-panel-body">
                            <div class="vc_tta-panel-heading">
                               <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left"><a href="#1516733352296-84e317dd-f0e4" data-vc-accordion data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">
                                  {{langPath.faq.item3.title | default: defaultLangPath.faq.item3.title}}
                               </span><i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a></h4>
                            </div>
                            <div class="vc_tta-panel-body">
                               <div class="mk-text-block responsive-align-center  ">
                                  <div class="block transitionmodest w-clearfix active" data-min-height="64">
                                     <div class="child transitionmodest w-clearfix active" data-min-height="56">
                                        <div class="content transitionmodest w-clearfix">
                                           <div class="info w-clearfix">
                                              <div class="text">
                                                 <p>{{langPath.faq.item3.paragraph | default: defaultLangPath.faq.item3.paragraph}}</p>
                                                 <p>{{langPath.faq.item3.paragraph1 | default: defaultLangPath.faq.item3.paragraph1}}</p>
                                                 <p>{{langPath.faq.item3.paragraph2 | default: defaultLangPath.faq.item3.paragraph2}}</p>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="clearboth"></div>
                               </div>
                            </div>
                         </div>
                         <div class="vc_tta-panel" id="1516733354818-6dc3717f-1fe6" data-vc-content=".vc_tta-panel-body">
                            <div class="vc_tta-panel-heading">
                               <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left"><a href="#1516733354818-6dc3717f-1fe6" data-vc-accordion data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">
                                  {{langPath.faq.item4.title | default: defaultLangPath.faq.item4.title}}
                               </span><i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a></h4>
                            </div>
                            <div class="vc_tta-panel-body">
                               <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                  <div class=" vc_column_container vc_col-sm-12">
                                     <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                           <div class="mk-text-block responsive-align-center  ">
                                              <div class="block transitionmodest w-clearfix active" data-min-height="64">
                                                 <div class="child transitionmodest w-clearfix active" data-min-height="64">
                                                    <div class="content transitionmodest w-clearfix">
                                                       <div class="info w-clearfix">
                                                          <div class="text">
                                                             <p>{{langPath.faq.item4.paragraph | default: defaultLangPath.faq.item4.paragraph}}</p>
                                                             <p>{{langPath.faq.item4.paragraph1 | default: defaultLangPath.faq.item4.paragraph1}}</p>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                              </div>
                                              <div class="clearboth"></div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_border_width_2 vc_sep_pos_align_center vc_separator_no_text" ><span class="vc_sep_holder vc_sep_holder_l"><span  style="border-color:#d8d2d2;" class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span  style="border-color:#d8d2d2;" class="vc_sep_line"></span></span></div>
                               <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                  <div class=" vc_column_container vc_col-sm-12">
                                     <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                           <h2 style="font-size: 15px;color: #3a3a3a;line-height: 5px;text-align: center;font-family:Quicksand;font-weight:700;font-style:normal" class="vc_custom_heading" >{{langPath.faq.item4.paragraph2 | default: defaultLangPath.faq.item4.paragraph2}}</h2>
                                           <div class="mk-text-block responsive-align-center  ">
                                              <div class="block transitionmodest w-clearfix active" data-min-height="64">
                                                 <div class="child transitionmodest w-clearfix active" data-min-height="64">
                                                    <div class="content transitionmodest w-clearfix">
                                                       <div class="info w-clearfix">
                                                          <div class="text">
                                                             <div class="block transitionmodest w-clearfix active" data-min-height="64">
                                                                <div class="child transitionmodest w-clearfix active" data-min-height="56">
                                                                   <div class="content transitionmodest w-clearfix">
                                                                      <div class="info w-clearfix">
                                                                         <div class="text">
                                                                            <p>{{langPath.faq.item4.paragraph3 | default: defaultLangPath.faq.item4.paragraph3}}</p>
                                                                            <p>{{langPath.faq.item4.paragraph4 | default: defaultLangPath.faq.item4.paragraph4}}</p>
                                                                            <p>{{langPath.faq.item4.paragraph5 | default: defaultLangPath.faq.item4.paragraph5}}</p>
                                                                         </div>
                                                                      </div>
                                                                   </div>
                                                                </div>
                                                             </div>
                                                             <p>&nbsp;</p>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                              </div>
                                              <div class="clearboth"></div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_border_width_2 vc_sep_pos_align_center vc_separator_no_text" ><span class="vc_sep_holder vc_sep_holder_l"><span  style="border-color:#d8d2d2;" class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span  style="border-color:#d8d2d2;" class="vc_sep_line"></span></span></div>
                               <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                  <div class=" vc_column_container vc_col-sm-12">
                                     <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                           <h2 style="font-size: 15px;color: #3a3a3a;line-height: 5px;text-align: center;font-family:Quicksand;font-weight:700;font-style:normal" class="vc_custom_heading" >{{langPath.faq.item4.paragraph6 | default: defaultLangPath.faq.item4.paragraph6}}</h2>
                                           <div class="mk-text-block responsive-align-center  ">
                                              <div class="block transitionmodest w-clearfix active" data-min-height="64">
                                                 <div class="child transitionmodest w-clearfix active" data-min-height="64">
                                                    <div class="content transitionmodest w-clearfix">
                                                       <div class="info w-clearfix">
                                                          <div class="text">
                                                             <div class="block transitionmodest w-clearfix active" data-min-height="64">
                                                                <div class="child transitionmodest w-clearfix active" data-min-height="56">
                                                                   <div class="content transitionmodest w-clearfix">
                                                                      <div class="info w-clearfix">
                                                                         <div class="text">
                                                                            <p>{{langPath.faq.item4.paragraph7 | default: defaultLangPath.faq.item4.paragraph7}}</p>
                                                                         </div>
                                                                      </div>
                                                                   </div>
                                                                </div>
                                                             </div>
                                                             <p>&nbsp;</p>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                              </div>
                                              <div class="clearboth"></div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="vc_tta-panel" id="1516737611955-523c6740-9162" data-vc-content=".vc_tta-panel-body">
                            <div class="vc_tta-panel-heading">
                               <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left"><a href="#1516737611955-523c6740-9162" data-vc-accordion data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">
                                  {{langPath.faq.item5.title | default: defaultLangPath.faq.item5.title}}
                               </span><i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a></h4>
                            </div>
                            <div class="vc_tta-panel-body">
                               <div class="mk-text-block responsive-align-center  ">
                                  <div class="block transitionmodest w-clearfix active" data-min-height="64">
                                     <div class="child transitionmodest w-clearfix active" data-min-height="64">
                                        <div class="content transitionmodest w-clearfix">
                                           <div class="info w-clearfix">
                                              <div class="text">
                                                 <div class="block transitionmodest w-clearfix active" data-min-height="64">
                                                    <div class="child transitionmodest w-clearfix active" data-min-height="64">
                                                       <div class="content transitionmodest w-clearfix">
                                                          <div class="info w-clearfix">
                                                             <div class="text">
                                                                <p>{{langPath.faq.item5.paragraph | default: defaultLangPath.faq.item5.paragraph}}</p>
                                                             </div>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <p>&nbsp;</p>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="clearboth"></div>
                               </div>
                            </div>
                         </div>
                         <div class="vc_tta-panel" id="1516737652426-7933208a-cceb" data-vc-content=".vc_tta-panel-body">
                            <div class="vc_tta-panel-heading">
                               <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left"><a href="#1516737652426-7933208a-cceb" data-vc-accordion data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">{{langPath.faq.item6.title | default: defaultLangPath.faq.item6.title}}</span><i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a></h4>
                            </div>
                            <div class="vc_tta-panel-body">
                               <div class="mk-text-block responsive-align-center  ">
                                  <div class="block transitionmodest w-clearfix active" data-min-height="64">
                                     <div class="child transitionmodest w-clearfix active" data-min-height="64">
                                        <div class="content transitionmodest w-clearfix">
                                           <div class="info w-clearfix">
                                              <div class="text">
                                                 <div class="block transitionmodest w-clearfix active" data-min-height="64">
                                                    <div class="child transitionmodest w-clearfix active" data-min-height="56">
                                                       <div class="content transitionmodest w-clearfix">
                                                          <div class="info w-clearfix">
                                                             <div class="text">
                                                                <div class="block transitionmodest w-clearfix active" data-min-height="64">
                                                                   <div class="child transitionmodest w-clearfix active" data-min-height="64">
                                                                      <div class="content transitionmodest w-clearfix">
                                                                         <div class="info w-clearfix">
                                                                            <div class="text">
                                                                               <p>{{langPath.faq.item7.paragraph | default: defaultLangPath.faq.item7.paragraph}}</p>
                                                                            </div>
                                                                         </div>
                                                                      </div>
                                                                   </div>
                                                                </div>
                                                             </div>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="clearboth"></div>
                               </div>
                            </div>
                         </div>
                         <div class="vc_tta-panel" id="1516737673670-2e7ddc72-2523" data-vc-content=".vc_tta-panel-body">
                            <div class="vc_tta-panel-heading">
                               <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left"><a href="#1516737673670-2e7ddc72-2523" data-vc-accordion data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">{{langPath.faq.item7.title | default: defaultLangPath.faq.item7.title}}</span><i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a></h4>
                            </div>
                            <div class="vc_tta-panel-body">
                                {{langPath.faq.item7.description | default: defaultLangPath.faq.item7.description}}
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="vc_empty_space"   style="height: 200px" ><span class="vc_empty_space_inner"></span></div>
          </div>
       </div>
       <div class="clearboth"></div>
    </div>
    <div class="clearboth"></div>
</section>