<section id="roadmap"   data-intro-effect="false" class="page-section-18  expandable-false fullwidth-false section-expandable-false full-height-false  mk-video-holder mk-page-section parallax-false  " data-direction="vertical">
    <div class="bg-layer clip">
       <div  class="mk-video-color-mask"></div>
       <div class="scroll-layer " style=""  css-attach="scroll" data-attach="scroll"></div>
    </div>
    <div class="mk-grid vc_row-fluid page-section-content expandable-false">
       <div class="mk-padding-wrapper">
          <div style="" class="vc_col-sm-12  column_container ">
             <div class="vc_empty_space"   style="height: 100px" ><span class="vc_empty_space_inner"></span></div>
             <h2 style="font-size: 40px;color: #4bdcbc;line-height: 5px;text-align: center;font-family:Quicksand;font-weight:700;font-style:normal" class="vc_custom_heading" >{{langPath.roadmap.title | default: defaultLangPath.roadmap.title}}</h2>
             <div style="font-size: 18px;color: #393836;font-weight:inherit;margin-top:0px;margin-bottom:0px;" id="fancy-title-19" class="mk-fancy-text title-box-center   "><span style="background-color:rgba(0,0,0,0); box-shadow: 8px 0 0 rgba(0,0,0,0), -8px 0 0 rgba(0,0,0,0);line-height:34px">{{langPath.roadmap.subtitle | default: defaultLangPath.wallets.subtitle}}</span></div>
             <div class="clearboth"></div>
             

             <section id="timeline" class="cd-container">
                <div class="timeline-block">
                  <div class="timeline-img completed ">
                      <!--<i class="fa fa-check"></i>-->
                  </div>
                  <div class="timeline-content card">
                    <h2>{{langPath.roadmap.item.title | default: defaultLangPath.roadmap.item.title}}</h2>
                    <p>
                        {{langPath.roadmap.item.description | default: defaultLangPath.roadmap.item.description}}
                    </p>
                    <span class="cd-date">{{langPath.roadmap.item.release | default: defaultLangPath.roadmap.release}}</span>
                  </div>
                </div>
                <div class="timeline-block">
                    <div class="timeline-img">
                    </div>
                    <div class="timeline-content card">
                      <h2>{{langPath.roadmap.item1.title | default: defaultLangPath.roadmap.item1.title}}</h2>
                      <p>
                          {{langPath.roadmap.item1.description | default: defaultLangPath.roadmap.item1.description}}
                      </p>
                      <span class="cd-date">{{langPath.roadmap.item1.release | default: defaultLangPath.roadmap.item1.release}}</span>
                    </div>
                  </div>
                <div class="timeline-block">
                    <div class="timeline-img completed ">
                    </div>
                    <div class="timeline-content card">
                      <h2>{{langPath.roadmap.item2.title | default: defaultLangPath.roadmap.item2.title}}</h2>
                      <p>
                          {{langPath.roadmap.item2.description | default: defaultLangPath.roadmap.item2.description}}
                      </p>
                      <span class="cd-date">{{langPath.roadmap.item2.release | default: defaultLangPath.roadmap.item2.release}}</span>
                    </div>
                  </div>
                <div class="timeline-block">
                  <div class="timeline-img completed">
                  </div>
                  <div class="timeline-content card">
                    <h2>{{langPath.roadmap.item3.title | default: defaultLangPath.roadmap.item3.title}}</h2>
                    <p>
                        {{langPath.roadmap.item3.description | default: defaultLangPath.roadmap.item3.description}}
                    </p>
                    <span class="cd-date">{{langPath.roadmap.item3.release | default: defaultLangPath.roadmap.item3.release}}</span>
                  </div>
                </div>
                
                <div class="timeline-block">
                    <div class="timeline-img completed">
                    </div>
                    <div class="timeline-content card">
                      <h2>{{langPath.roadmap.item4.title | default: defaultLangPath.roadmap.item4.title}}</h2>
                      <p>
                          {{langPath.roadmap.item4.description | default: defaultLangPath.roadmap.item4.description}}
                      </p>
                      <span class="cd-date">{{langPath.roadmap.item4.release | default: defaultLangPath.roadmap.item4.release}}</span>
                    </div>
                  </div>

                  <div class="timeline-block">
                      <div class="timeline-img completed">
                      </div>
                      <div class="timeline-content card">
                        <h2>{{langPath.roadmap.item5.title | default: defaultLangPath.roadmap.item5.title}}</h2>
                        <p>
                            {{langPath.roadmap.item5.description | default: defaultLangPath.roadmap.item5.description}}
                        </p>
                        <span class="cd-date">{{langPath.roadmap.item5.release | default: defaultLangPath.roadmap.item5.release}}</span>
                      </div>
                    </div>
               
                  </div>
                </div>
              </section>
          </div>
       </div>
       <div class="clearboth"></div>
    </div>
    <div class="clearboth"></div>
</section>