<section id="specifications"   data-intro-effect="false" class="page-section-7  expandable-false fullwidth-false section-expandable-false full-height-false  mk-video-holder mk-page-section parallax-false  " data-direction="vertical">
        <div class="bg-layer clip">
           <div  class="mk-video-color-mask"></div>
           <div class="scroll-layer " style=""  css-attach="scroll" data-attach="scroll"></div>
        </div>
        <div class="mk-grid vc_row-fluid page-section-content expandable-false">
           <div class="mk-padding-wrapper">
              <div style="" class="vc_col-sm-12  column_container ">
                 <div class="vc_empty_space"   style="height: 100px" ><span class="vc_empty_space_inner"></span></div>
                 <h2 style="font-size: 40px;color: #f7f7f7;line-height: 5px;text-align: center;font-family:Quicksand;font-weight:700;font-style:normal" class="vc_custom_heading" >{{langPath.specifications.title | default: defaultLangPath.specifications.tile}}</h2>
                 <div class="vc_empty_space"   style="height: 30px" ><span class="vc_empty_space_inner"></span></div>
                 <div style="font-size: 18px;color: #393836;font-weight:inherit;margin-top:0px;margin-bottom:5px;" id="fancy-title-8" class="mk-fancy-text title-box-left   "><span style="background-color:rgba(0,0,0,0); box-shadow: 8px 0 0 rgba(0,0,0,0), -8px 0 0 rgba(0,0,0,0);line-height:34px">{{langPath.specifications.paragraph1 | default: defaultLangPath.specifications.paragraph1}}</span></div>
                 <div class="clearboth"></div>
                 <div class="vc_empty_space"   style="height: 50px" ><span class="vc_empty_space_inner"></span></div>
                 <div class="vc_row wpb_row vc_inner vc_row-fluid">
                    <div class=" vc_column_container vc_col-sm-4">
                       <div class="vc_column-inner ">
                          <div class="wpb_wrapper">
                             <div  class="wpb_single_image wpb_content_element vc_align_center">
                                <figure class="wpb_wrapper vc_figure">
                                   <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="/assets/img/instantaneas-150x150.png" width="150" height="150" alt="instantaneas" title="instantaneas" /></div>
                                </figure>
                             </div>
                             <h1 style="font-size: 20px;color: #ffffff;line-height: 5px;text-align: center;font-family:Quicksand;font-weight:700;font-style:normal" class="vc_custom_heading" >{{langPath.specifications.options.transaction.title | default: defaultLangPath.specifications.options.transaction.title}}</h1>
                             <div class="vc_empty_space"   style="height: 10px" ><span class="vc_empty_space_inner"></span></div>
                             <div style="font-size: 18px;color: #393836;font-weight:inherit;margin-top:0px;margin-bottom:5px;" id="fancy-title-9" class="mk-fancy-text title-box-center   "><span style="background-color:rgba(0,0,0,0); box-shadow: 8px 0 0 rgba(0,0,0,0), -8px 0 0 rgba(0,0,0,0);line-height:34px">{{langPath.specifications.options.transaction.description | default: defaultLangPath.specifications.options.transaction.description}}
                                </span>
                             </div>
                             <div class="clearboth"></div>
                          </div>
                       </div>
                    </div>
                    <div class=" vc_column_container vc_col-sm-4">
                       <div class="vc_column-inner ">
                          <div class="wpb_wrapper">
                             <div  class="wpb_single_image wpb_content_element vc_align_center">
                                <figure class="wpb_wrapper vc_figure">
                                   <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="/assets/img/zerofee-150x150.png" width="150" height="150" alt="zerofee" title="zerofee" /></div>
                                </figure>
                             </div>
                             <h1 style="font-size: 20px;color: #ffffff;line-height: 5px;text-align: center;font-family:Quicksand;font-weight:700;font-style:normal" class="vc_custom_heading" >{{langPath.specifications.options.fee.title | default: defaultLangPath.specifications.options.fee.title}}</h1>
                             <div class="vc_empty_space"   style="height: 10px" ><span class="vc_empty_space_inner"></span></div>
                             <div style="font-size: 18px;color: #393836;font-weight:inherit;margin-top:0px;margin-bottom:5px;" id="fancy-title-10" class="mk-fancy-text title-box-center   "><span style="background-color:rgba(0,0,0,0); box-shadow: 8px 0 0 rgba(0,0,0,0), -8px 0 0 rgba(0,0,0,0);line-height:34px">{{langPath.specifications.options.fee.description | default: defaultLangPath.specifications.options.fee.description}}</span></div>
                             <div class="clearboth"></div>
                          </div>
                       </div>
                    </div>
                    <div class=" vc_column_container vc_col-sm-4">
                       <div class="vc_column-inner ">
                          <div class="wpb_wrapper">
                             <div  class="wpb_single_image wpb_content_element vc_align_center">
                                <figure class="wpb_wrapper vc_figure">
                                   <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="/assets/img/anonimo-150x150.png" width="150" height="150" alt="anonimo" title="anonimo" /></div>
                                </figure>
                             </div>
                             <h1 style="font-size: 20px;color: #ffffff;line-height: 5px;text-align: center;font-family:Quicksand;font-weight:700;font-style:normal" class="vc_custom_heading" >{{langPath.specifications.options.anon.title | default: defaultLangPath.specifications.options.anon.title}}</h1>
                             <div class="vc_empty_space"   style="height: 10px" ><span class="vc_empty_space_inner"></span></div>
                             <div style="font-size: 18px;color: #393836;font-weight:inherit;margin-top:0px;margin-bottom:5px;" id="fancy-title-11" class="mk-fancy-text title-box-center   "><span style="background-color:rgba(0,0,0,0); box-shadow: 8px 0 0 rgba(0,0,0,0), -8px 0 0 rgba(0,0,0,0);line-height:34px">{{langPath.specifications.options.anon.description | default: defaultLangPath.specifications.options.anon.description}}</span></div>
                             <div class="clearboth"></div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="vc_empty_space"   style="height: 50px" ><span class="vc_empty_space_inner"></span></div>
                 <div class="vc_row wpb_row vc_inner vc_row-fluid">
                    <div class=" vc_column_container vc_col-sm-6">
                       <div class="vc_column-inner ">
                          <div class="wpb_wrapper">
                             <div class="mk-fancy-table  ">
                                <table width="100%">
                                   <thead></thead>
                                   <tbody>
                                      <tr>
                                         <td><span style="font-weight: 400;">{{langPath.specifications.mining.algorithm.title | default: defaultLangPath.specifications.mining.algorithm.title}}:</span></td>
                                         <td><span style="font-weight: 400;">Blake 256 (14r)</span></td>
                                      </tr>
                                      <tr>
                                         <td><span style="font-weight: 400;">{{langPath.specifications.mining.maxSupply.title | default: defaultLangPath.specifications.mining.maxSupply.title}}:</span></td>
                                         <td>21M</td>
                                      </tr>
                                      <tr>
                                         <td><span style="font-weight: 400;">{{langPath.specifications.mining.blockTime.title | default: defaultLangPath.specifications.mining.blockTime.title}}:</span></td>
                                         <td>{{langPath.specifications.mining.blockTime.value | default: defaultLangPath.specifications.mining.blockTime.value}}</td>
                                      </tr>
                                   </tbody>
                                </table>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class=" vc_column_container vc_col-sm-6">
                       <div class="vc_column-inner ">
                          <div class="wpb_wrapper">
                             <div class="mk-fancy-table  ">
                                <table width="100%">
                                   <thead></thead>
                                   <tbody>
                                      <tr>
                                         <td><span style="font-weight: 400;">{{langPath.specifications.mining.miningSystem.title | default: defaultLangPath.specifications.mining.miningSystem.title}}:</span></td>
                                         <td><span style="font-weight: 400;">{{langPath.specifications.mining.miningSystem.value | default: defaultLangPath.specifications.mining.miningSystem.value}}</span></td>
                                      </tr>
                                      <tr>
                                         <td><span style="font-weight: 400;">{{langPath.specifications.mining.consensus.title | default: defaultLangPath.specifications.mining.consensus.title}}:</span></td>
                                         <td><span style="font-weight: 400;">{{langPath.specifications.mining.consensus.value | default: defaultLangPath.specifications.mining.consensus.value}}</span></td>
                                      </tr>
                                      <tr>
                                         <td><span style="font-weight: 400;">{{langPath.specifications.mining.halving.title | default: defaultLangPath.specifications.mining.halving.title}}:</span></td>
                                         <td><span style="font-weight: 400;">{{langPath.specifications.mining.halving.value | default: defaultLangPath.specifications.mining.halving.value}}</span></td>
                                      </tr>
                                   </tbody>
                                </table>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="vc_empty_space"   style="height: 50px" ><span class="vc_empty_space_inner"></span></div>
              </div>
           </div>
           <div class="clearboth"></div>
        </div>
        <div class="clearboth"></div>
    </section>