<section id="wallets"  data-intro-effect="false" class="page-section-12  expandable-false fullwidth-true section-expandable-false full-height-false mk-background-stretch  mk-video-holder mk-page-section parallax-true  " data-direction="vertical">
    <div class="bg-layer clip">
       <div  style="background-color:#2e2e2e;opacity:1;" class="mk-video-color-mask"></div>
       <div class="scroll-layer mk-background-stretch " style=""  data-center="background-position: 50% 0px;" data-bottom-top="background-position: 50% 200px;" data-top-bottom="background-position: 50% -200px;" css-attach="scroll" data-attach="scroll"></div>
    </div>
    <div class="page-section-fullwidth vc_row-fluid page-section-content expandable-false">
       <div class="mk-padding-wrapper">
          <div style="" class="vc_col-sm-12  column_container ">
             <div class="vc_empty_space"   style="height: 100px" ><span class="vc_empty_space_inner"></span></div>
             <h2 style="font-size: 40px;color: #4bdcbc;line-height: 5px;text-align: center;font-family:Quicksand;font-weight:700;font-style:normal" class="vc_custom_heading" >{{langPath.wallets.title | default: defaultLangPath.wallets.title}}</h2>
             <div style="font-size: 25px;color: #f7f7f7;font-weight:inherit;margin-top:0px;margin-bottom:0px;" id="fancy-title-13" class="mk-fancy-text title-box-center   "><span style="background-color:rgba(0,0,0,0); box-shadow: 8px 0 0 rgba(0,0,0,0), -8px 0 0 rgba(0,0,0,0);line-height:34px">{{langPath.wallets.subtitle | default: defaultLangPath.wallets.subtitle}}</span>
             </div>
             <div class="clearboth"></div>
             <div style="font-size: 25px;color: #f7f7f7;font-weight:inherit;margin-top:0px;margin-bottom:0px;" id="fancy-title-14" class="mk-fancy-text title-box-center   "><span style="background-color:rgba(0,0,0,0); box-shadow: 8px 0 0 rgba(0,0,0,0), -8px 0 0 rgba(0,0,0,0);line-height:34px">{{langPath.wallets.subtitle1 | default: defaultLangPath.wallets.subtitle1}}</span></div>
             <div class="clearboth"></div>
             <div class="vc_empty_space"   style="height: 50px" ><span class="vc_empty_space_inner"></span></div>
             <div class="vc_row wpb_row vc_inner vc_row-fluid">
                <div class=" vc_column_container vc_col-sm-2">
                   <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                         <div class="vc_empty_space"   style="height: 100px" ><span class="vc_empty_space_inner"></span></div>
                         <div 	class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center">
                            <div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-size-xl vc_icon_element-style- vc_icon_element-background-color-grey">
                               <span class="vc_icon_element-icon fa fa-windows" style="color:#f7f7f7 !important"></span><a class="vc_icon_element-link" href=""  title="" target="_self"></a>
                            </div>
                         </div>
                         <h2 style="font-size: 20px;color: #f7f7f7;line-height: 5px;text-align: center;font-family:Quicksand;font-weight:300;font-style:normal" class="vc_custom_heading" >Windows </h2>
                         <h2 style="font-size: 15px;color: #f7f7f7;line-height: 5px;text-align: center;font-family:Quicksand;font-weight:700;font-style:normal" class="vc_custom_heading" >{{langPath.wallets.subtitle2 | default: defaultLangPath.wallets.subtitle2}}</h2>
                         <div style="font-size: 20px;color: #ffffff;font-weight:600;margin-top:0px;margin-bottom:20px;" id="fancy-title-15" class="mk-fancy-text title-box-center   "><span style="background-color:#f7f7f7; box-shadow: 8px 0 0 #f7f7f7, -8px 0 0 #f7f7f7;line-height:34px"><a href="https://github.com/bolt-currency/BOLT/releases/download/0.9.1/bolt-wallet-win-64.zip">↓ 64-bit</a> | <a href="https://github.com/bolt-currency/BOLT/releases/download/0.9.1/bolt-wallet-win-32.zip">↓ 32-bit</a></span></div>
                         <div class="clearboth"></div>
                      </div>
                   </div>
                </div>
                <div class=" vc_column_container vc_col-sm-2">
                   <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                         <div class="vc_empty_space"   style="height: 100px" ><span class="vc_empty_space_inner"></span></div>
                         <div 	class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center">
                            <div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-size-xl vc_icon_element-style- vc_icon_element-background-color-grey">
                               <span class="vc_icon_element-icon fa fa-apple" style="color:#f7f7f7 !important"></span>
                            </div>
                         </div>
                         <h2 style="font-size: 20px;color: #f7f7f7;line-height: 5px;text-align: center;font-family:Quicksand;font-weight:300;font-style:normal" class="vc_custom_heading" >MacOs</h2>
                         <h2 style="font-size: 15px;color: #f7f7f7;line-height: 5px;text-align: center;font-family:Quicksand;font-weight:700;font-style:normal" class="vc_custom_heading" >{{langPath.wallets.subtitle2 | default: defaultLangPath.wallets.subtitle2}}</h2>
                         <div style="font-size: 20px;color: #ffffff;font-weight:600;margin-top:0px;margin-bottom:20px;" id="fancy-title-16" class="mk-fancy-text title-box-center   "><span style="background-color:#f7f7f7; box-shadow: 8px 0 0 #f7f7f7, -8px 0 0 #f7f7f7;line-height:34px"><a href="https://github.com/bolt-currency/BOLT/releases/download/0.9.1/bolt-wallet-osx-64.dmg">↓ .dmg</a></span></div>
                         <div class="clearboth"></div>
                      </div>
                   </div>
                </div>
                <div class=" vc_column_container vc_col-sm-2">
                   <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                         <div class="vc_empty_space"   style="height: 100px" ><span class="vc_empty_space_inner"></span></div>
                         <div 	class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center">
                            <div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-size-xl vc_icon_element-style- vc_icon_element-background-color-grey">
                               <span class="vc_icon_element-icon fa fa-linux" style="color:#f7f7f7 !important"></span>
                            </div>
                         </div>
                         <h2 style="font-size: 20px;color: #f7f7f7;line-height: 5px;text-align: center;font-family:Quicksand;font-weight:300;font-style:normal" class="vc_custom_heading" >Linux</h2>
                         <h2 style="font-size: 15px;color: #f7f7f7;line-height: 5px;text-align: center;font-family:Quicksand;font-weight:700;font-style:normal" class="vc_custom_heading" >{{langPath.wallets.subtitle2 | default: defaultLangPath.wallets.subtitle2}}</h2>
                         <div style="font-size: 20px;color: #ffffff;font-weight:600;margin-top:0px;margin-bottom:20px;" id="fancy-title-17" class="mk-fancy-text title-box-center   "><span style="background-color:#f7f7f7; box-shadow: 8px 0 0 #f7f7f7, -8px 0 0 #f7f7f7;line-height:34px"><a href="https://github.com/bolt-currency/BOLT/releases/download/0.9.1/bolt-wallet-linux-64.tar.gz">↓ 64-bit</a> | <a href="https://github.com/bolt-currency/BOLT/releases/download/0.9.1/bolt-wallet-linux-64.tar.gz">↓ .tgz</a></span></div>
                         <div class="clearboth"></div>
                      </div>
                   </div>
                </div>
                <div class=" vc_column_container vc_col-sm-6">
                   <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                         <div  class="wpb_single_image wpb_content_element vc_align_center">
                            <figure class="wpb_wrapper vc_figure">
                               <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="781" height="507" src="{{langPath.wallets.bannerUrl | default: langPath.wallets.bannerUrl}}" class="vc_single_image-img attachment-large" alt="Screen_qt-min" srcset="" sizes="(max-width: 781px) 100vw, 781px" /></div>
                            </figure>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="vc_empty_space"   style="height: 100px" ><span class="vc_empty_space_inner"></span></div>
          </div>
       </div>
       <div class="clearboth"></div>
    </div>
    <div class="clearboth"></div>
</section>